<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"/></script><![endif]-->
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


    
    <div class="container">
    
   	<p th:text="#{message.listOfEntries}">List of entries static placeholder</p>
   	
   	<th:block th:each="row : ${rows}">
   		<p th:text="${row.rowValue}">row value here </p>
   	</th:block>
   	
   	<form class="form-horizontal" action="" th:action="@{/}" method="post" th:object="${formModel}">
   		<div class="form-group">
   			<label class="control-label col-md-3">Value:</label>
   			<div class="col-md-9">
   				<input class="form-control" type="text" th:field="*{value}"/>
   			</div>
   		</div>
   		<div class="form-group">
   			<div class="col-md-12">
   				<button type="submit" class="btn btn-primary">Add to db</button>
   			</div>
   		</div>
   		
   	</form>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   
  </body>
</html>
