@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro.otf");
}


body {
	font-size: 18px;
font-family: "Source Sans Pro";
color: #002D61;
}


/*navs*/
.navbar-default {
	background-color: #fff;
	border-color: #fff;
}

.nav-bar-logo {
	width:150px;
	float:left;
}

.navbar-brand {
	padding-top: 0px;
	padding-left:20px;
}
.navbar-brand h1 {
	margin-top: 0px;
color: rgb(0, 45, 97);
font-size: 46px;
}

.navbar-collapse {
	width:100%;
	margin-left: 130px;
}

.nav-bar-logo img {
	width:100%;
}

button.nav-link{
	background-color: rgb(255, 255, 255);
box-shadow: none;
line-height: 1.42857;
position: relative;
display: block;
padding: 11px 15px;
border: medium none;
margin-top: 2px;
}

button.nav-link:hover {
	background-color: #EBEFF9;

}


.logo img {
	width:100%;
}

.logo-header {
	margin-top:0px;
	font-size: 48px;
}

.page-header {
	border-bottom: 3px solid #EEE;
}

.panel {
	border-radius: 16px 0px;
}

.panel-danger > .panel-heading {
	color: #F8E8E8;
background-color: #B41111;
border-color: #D59EA7;
}

.panel .panel-heading {
	padding: 14px 18px;
	border-top-right-radius: 0px;
border-top-left-radius: 15px;
}

.form-control {
	border-top-left-radius: 8px;
border-top-right-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 8px;
}

.alert {
	border-radius:0;	
}


.btn {
	border-radius:0;
	border-top-left-radius:8px;
	border-bottom-right-radius:8px;
	padding: 6px 18px;
}

.help-block {
	font-size: 14px;
margin-bottom: 4px;
margin-left: 12px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-left-radius:8px;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
	border-bottom-right-radius:8px;
}

.dropzone {
	
	    height: 200px;
    background-color: #eee;
    padding: 20px;
    border: 2px dashed #aaa;
}

.cover-row {
	height: 120px;
}

.loader {
	position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 150px;
height: 150px;
background-color: rgb(255, 255, 255);
border-radius: 15px;
padding: 41px;
box-shadow: 3px 5px 17px -6px rgb(0, 0, 0);
}

.cover-row img {
	height:100%;
}


@media (max-width: 768px) {
	.nav-bar-logo {
		width: 67px;
margin-top: 4px;
	}	
	.navbar-collapse {
	width:100%;
	margin-left: 0;
}
	
	.navbar-brand h1 {
		font-size: 22px;
text-align: center;
margin-top: 13px;
	}
	
}
